<% layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row" id="outer-row" style="margin-top:0px;">
  <div class="row">
    <div class="jumbotron" id="navbar-gap">
      <div class="container">
        <h1>Shop Smart, Save Big!</h1>
        <p>You can always find something you want</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col col-md-8 col-md-offset-2">
        <div class="slideshow-container">
          <div class="mySlides1">
            <img src="/images/shopping1.png" style="width:100%" />
          </div>

          <div class="mySlides1">
            <img src="/images/shopping2.png" style="width:100%" />
          </div>

          <div class="mySlides1">
            <img src="/images/shopping3.png" style="width:100%" />
          </div>

          <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
          <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
        </div>
      </div>
      <div class="col col-md-6"></div>
    </div>
  </div>
</div>
<div class="row" style="background:rgb(80, 157, 180); color: black">
  <div class="container">
    <div class="col-md-4">
      <h3>Don't have an account</h3>
      <p>Signup to start Buying</p>
    </div>
    <div class="col-md-4">
      <h3>Look for Smart items?</h3>
      <p>These will appear across the site as you add to your cart</p>
    </div>
    <div class="col-md-4">
      <h3>Build a smart cart</h3>
      <p>The more smart items you buy together, the more you save :)</p>
    </div>
  </div>
</div>

<script>
  var slideIndex = [1, 1];
  var slideId = ["mySlides1", "mySlides2"];
  showSlides(1, 0);
  showSlides(1, 1);

  function plusSlides(n, no) {
    showSlides((slideIndex[no] += n), no);
  }

  function showSlides(n, no) {
    var i;
    var x = document.getElementsByClassName(slideId[no]);
    if (n > x.length) {
      slideIndex[no] = 1;
    }
    if (n < 1) {
      slideIndex[no] = x.length;
    }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex[no] - 1].style.display = "block";
  }
</script>
<style>
  * {
    box-sizing: border-box;
  }

  .mySlides1,
  .mySlides2 {
    display: none;
  }

  img {
    vertical-align: middle;
    width: 100%;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 2000px;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    background: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a grey background color */
  .prev:hover,
  .next:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }

  .jumbotron {
    text-align: center;
    color: black;
    /* padding-top: 10px; */
    height: 200px;

    margin-bottom: 1px;

    background-color: rgb(80, 157, 180);
  }

  #outer-row {
    background-color: rgb(171, 224, 240);
  }
</style>
